.header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #62a661;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-nav {
  padding: 0;
  margin: 0;
  width: 90%;
  overflow: hidden;
  position: relative;
}

.header-nav .nav-list {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.header-nav .nav-list li {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  float: left;
  display: block;
  text-align: center;
  list-style: none;
}

.header-nav .nav-list li:not(:first-child) { 
  float: right;
}

.header-nav .nav-list li a {
  padding: 30px 30px 30px 30px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-nav .nav-list li a:hover {
  background-color: #E1ECC8;
  color: #333;
}

.header-nav .nav-list li.active a {
  background-color: #5b9664;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.header .header-hamburger-button {
  display: none;
  margin-top: 10px;
  right: 5%;
  position: absolute;
  top: 0;
  z-index: 200;
  padding: 18px 18px 18px 18px;
}

@media screen and (max-width: 600px) {
  .header-nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .header-nav .nav-list li:not(.active) { 
    display: none;
  }
  .header-nav.responsive .nav-list li {
    display: inline-block;
  }
  .header-nav .nav-list li { 
    width: 100%;
    text-align: left;
  }  
  .header-nav .nav-list li a {
    width: 88.5%;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    font-size: 14px;
  }
  .header .header-hamburger-button { display: block;}
}