.header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.header-nav {
  background-color: #ecb00b;
  padding: 0;
  margin: 0;
  width: 100%;  
  overflow: hidden;
}

.header-nav .nav-list {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.header-nav .nav-list li {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  float: left;
  display: block;
  text-align: center;
}

.header-nav .nav-list li a {
  padding: 15px 15px 15px 15px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
}

.header-nav .nav-list li:hover {
  background-color: #ddd;
}

.header-nav .nav-list li.active {
  background-color: #04AA6D;  
}

.header-nav .nav-hamburger-button {
  display: none;
  margin: 0;
  right: 0;
  top: 0;
  position: absolute;
  padding: 13.5px 18px 13.5px 18px;
}

@media screen and (max-width: 600px) {
  .header-nav .nav-list li:not(.active) { 
    display: none;
  }
  .header-nav.responsive .nav-list li {
    display: inline-block;
  }
  .header-nav .nav-list li { 
    width: 100%;
    text-align: left;
  }  
  .header-nav .nav-list li a {
    width: 100%;
    display: inline-block;
  }
  .header-nav .nav-hamburger-button { display: block;}
}