.footer {
  background-color: #7C847C;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
  margin: 16px 0 0 0;
}

.copyright-text {
  padding: 15px 15px 15px 15px;
  margin: 0;
  position: relative;
  display: block;
  text-align: center;
  font-size: 12px;
}