.footer {
  background-color: #C4D7B2;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.copyright-text {
  padding: 15px 15px 15px 15px;
  margin: 0;
  position: relative;
  display: block;
  text-align: center;
  font-size: 12px;
}