.product-selector-section {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block
}

.product-selector-section .product-selector-header{
  margin: 0;
  width: 60%;
  margin-left: 5%;
  overflow: hidden;
  position: relative;
  display: block;
  color: #fff;
  padding: 20px;
}

.product-selector-section .products {
  padding: 0;
  margin: 0;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
  position: relative;
  display: block;
}

@media screen and (max-width: 600px) {
  .product-selector-section .product-selector-header{
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
  }
}